.header {
    position: sticky;      
    top: 0;              
    z-index: 10;            
    background-color: rgba(255, 255, 255, 0.8);  
    backdrop-filter: blur(4px);                  
    -webkit-backdrop-filter: blur(4px);          
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    .header-wrapper {
        margin-left: auto; 
        margin-right: auto;
        padding-left: 1rem;  
        padding-right: 1rem;
        @media (min-width: 640px) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
        @media (min-width: 1024px) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .header-wrapper-content {
            display: flex;          
            align-items: center;        
            justify-content: space-between; 
            height: 4rem;
            .logo {
                flex-shrink: 0;
                .logo-text {
                    font-size: 1.5rem;   
                    line-height: 2rem;   
                    font-weight: 700;     
                    color: var(--color-primary);
                }
            }
            .header-menu {
                display: none;             
                align-items: center;       
                gap: 2rem;
                @media (min-width: 768px) {
                    display: flex;
                }   
                .header-menu-item {
                    a:-webkit-any-link {
                        font-weight: 500;               
                        color: #475569;               
                        transition: color 0.2s ease;  
                        &:hover {
                            color: var(--color-primary);
                        }
                    } 
                }              
            } 
            .user-menu{
                display: flex;        
                align-items: center;    
                gap: 1rem;
                .profile {
                    font-size: 0.875rem;         
                    line-height: 1.25rem;
                    font-weight: 500;            
                    color: #475569;              
                    transition: color 0.2s ease;
                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}

.btn-primary {
    padding: 0.5rem 1rem;                    
    font-size: 0.875rem;                    
    line-height: 1.25rem;
    font-weight: 500;                        
    color: var(--white);                             
    background-color: var(--color-primary);  
    border-color: var(--color-primary);
    border-radius: 0.5rem;                   
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); 
    transition: background-color .2s ease, color .2s ease, box-shadow .2s ease;
}

.btn-primary:hover,
.btn-primary:focus:hover {
  background-color: var(--bg-btn-primary) !important; 
  border-color: var(--bg-btn-primary) !important;
  color: var(--white) !important;
}

.btn-primary:focus {
  outline: none; 
  box-shadow:
    0 0 0 2px var(--background-light),  
    0 0 0 4px var(--color-primary);   
}

.btn-primary[disabled],
.btn-primary.ant-btn-disabled {
  opacity: .6;
  box-shadow: none;
}