@import url(./pages/index.scss);
@import url(./layouts/user-layout.scss);

:root {
    --color-primary: #38bdf8;
    --background-light: #f8fafc;
    --bg-btn-primary: #0ea5e9;
    --white: #fff;
    --color-text-light: #0f172a;
    --color-card-light: #ffffff;
    --color-border-light: #cbd5e1;
    --color-muted-light: #64748b;
}

a {
    text-decoration: none;
}

h1, h2, p {
    margin: 0;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
    border: none;
}