@import url(./pages/index.scss);
@import url(./layouts/user-layout.scss);

:root {
    --color-primary: #38bdf8;
    --background-light: #f8fafc;
    --bg-btn-primary: #0ea5e9;
    --white: #fff;
}

a {
    text-decoration: none;
}