.auth-layout {
  background-color: #f8fafc;
  color: #1f2937;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth-container {
    flex-grow: 1;       
    display: flex;      
    align-items: center;
    justify-content: center;
    padding: 1rem;
}