@import url(./header-layout/HeaderLayout.scss);

.user-layout {
    background-color: var(--background-light);
    color: #1e293b;
    font-family: var(--font-display, sans-serif);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .main-content {
        flex-grow: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 2rem 1rem;
        @media (min-width: 640px) { 
            padding-left: 1.5rem;  
            padding-right: 1.5rem; 
            max-width: 640px;
        }
        @media (min-width: 768px) { 
            padding-top: 3rem;   
            padding-bottom: 3rem; 
            max-width: 768px;
        }
        @media (min-width: 1024px) {
            padding-left: 2rem;  
            padding-right: 2rem; 
            max-width: 1024px;
        }
        @media (min-width: 1280px) {
            max-width: 1280px; 
        }
    }
    .footer {
        margin-top: auto;
        // padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        .footer-content {
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            padding-left: 1rem;   
            padding-right: 1rem;  
            text-align: center;
            font-size: 0.875rem;   
            line-height: 1.25rem; 
            color: #64748b;       
            @media (min-width: 640px) {
                padding-left: 1.5rem; 
                padding-right: 1.5rem; 
                max-width: 640px;
            }
            @media (min-width: 1024px) {
                padding-left: 2rem;  
                padding-right: 2rem;  
                max-width: 1024px;
            } 
        }
    }
}

.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}